/* --------------------Reset----------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button,
input,
textarea,
select {
    font: inherit
}
/* --------------------Globals----------------- */
:root {
    --primary: rgba(0,140,129,1);
    --secondary: rgba(221,227,146,1);
    --text: rgb(82, 81, 81)
}
/* --------------------Base----------------- */
html {
    font-size: 62.5%;
}
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: var(--text);
}
h1 {
    font-size: 3rem;
    color: black;
}
h2 {
    font-size: 2rem;
    color: black;
}
a {
    text-decoration: none;
    color: var(--text)
}
.center {
    padding: 0 10rem 0 10rem;
}
.bg-blur {
    backdrop-filter: blur(8rem);
}
/* --------------------Header----------------- */
.header {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    height: 100px;
}
.logoLink {
    height: 100%;
    vertical-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    column-gap: 1rem;
    color: black;
    font-weight:700;
    margin-right: auto;
    font-size: 2rem;
}
header .logo {
    height: 100%;
}
nav {
    margin-right: 6rem;   
}
nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    column-gap: 4rem;
}
nav a {
    font-weight: 500;
    font-size: 1.6rem;
    color: black;
}

.btn {
    border: none;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    background-color: var(--primary);
    color: white;
    font-weight: 500;
    display: flex;
    gap: 1rem;
    column-gap: 1rem;
}

/* --------------------Landing Background----------------- */
/* Overlay container ontop of background's circle pseudo elements */
.container {
    position: absolute;
    top: 0;
}
html::after, html::before, body::before, body::after, .container::before, .container::after {
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    background-color: rgba(0,140,129,.4);
    border-radius: 50%;
    position: fixed;
    z-index: -1;

}
html::before {
    top: -100px;
    left: -100px;
}
html::after {
    top: 500px;
    left: 200px;
}
body::before, body::after {
    right: 1px;
    background-color: rgba(221,227,146,.6);
}
body::before {
    width: 350px;
    height: 350px;
    left: 250px;
    top: 75px;
}
body::after {
    top: -75px;
    right: -75px;
}
.container::before {
    width: 200px;
    height: 200px;
    right: 100px;
    top: 150px;
}
.container::after {
    bottom: -150px;
    right: 0;
}
/* --------------------Landing----------------- */
.hero {
    height: 55rem;
    display: flex;
    align-items: center;
}
.heroContent {
    width: 45%;
}
.heroContent h1, .action {
    margin-bottom: 2rem;
}
.heroContent p {
    margin-bottom: 2.5rem;
}
.action .btn {
    display: inline;
    margin-right: 1.5rem;
    font-weight: 600;
}
.action a {
    border-bottom: 2px solid var(--text);
    padding-bottom: .5rem;

}
.reviews {
    display: flex;
    align-items: center;
    gap: 2rem;
    column-gap: 2rem;
}

.reviewText {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    row-gap: .5rem;

}
.reviewText p {
    margin: 0;
}
.reviewTextHeading {
    font-size: 1.5rem;
    font-weight: 600;
}
.rating {
    font-weight: 600;
    display: flex;
    gap: .3rem;
    column-gap: .3rem;
}
.rating span {
    color: var(--text);
    font-weight: 500;
}
.rating i {
    color: rgb(255, 230, 0);
}
.customerImgs {
    height: 50px;
    width: 155px;
    position: relative;
}
.customerImgWrapper {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: clip;
    position: absolute;
    border: 3px solid white;
}
.customerImgWrapper:nth-child(1) {
    z-index: 4;
}
.customerImgWrapper:nth-child(2) {
    left: 35px;
    z-index: 3;
}
.customerImgWrapper:nth-child(3) {
    left: 70px;
    z-index: 2;
}
.customerImgWrapper:nth-child(4) {
    left: 105px;
    z-index: 1;
}
.customerImgWrapper img {
    width: 100%;
}
.heroImg {
    width: 500px;
    position: relative;
    justify-self: end;
}
.heroImg img {
    width: 100%; 
    position: relative;
    left: 56px;
}
.heroImg::before {
    content: '';
    height: calc(100% * .75);
    width: calc(100% * .75);
    border-radius: 50%;
    background-color: var(--primary);
    display: block;
    position: absolute;
    z-index: -1;
    opacity: .5;
    right: 0;
    
}
/* --------------------Services----------------- */
.serviceSection {
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    column-gap: 4rem;
    font-size: 2rem;
    color: black;
    font-weight: 600;
}
.serviceItem {
    background-color: rgba(0,140,129,.2);
    width: 30rem;
    height: 15rem;
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 30px 30px 0 rgba(0,0,0,.15);
}
.serviceItem i {
    font-size: 4rem;
    color: rgba(0,140,129,1);
}
/* --------------------About----------------- */
.aboutSection {
    height: 500px;
    background-color: white;
    display: flex;
}
.aboutImg {
    width: 40%;
    position: relative;
}
.aboutImg img {
    width: 100%;
    position: absolute;
    bottom: 20%;
}
.aboutImg::before {
    content: '';
    display: block;
    position: absolute;
    height: 300px;
    width: 300px;
    bottom: 20%;
    left: 10%;
    border-radius: 5px;
    background-color: rgba(0,140,129,.4);
}
.aboutText {
    width: 60%;
    padding: 0 3rem;
}
.aboutText span {
    margin-bottom: 3rem;
    display: block;

}
.aboutText h2 {
    margin: 2rem 0;
    font-size: 2.5rem;

}
.aboutText p {
    margin: 1rem 0;
    line-height: 3rem;
}
.aboutText .btn {
    margin-top: 20px;
}
/* --------------------Booking----------------- */
.bookingSection {
    height: 500px;
    background-color: white;
    text-align: center;
    padding-top: 4rem;
}
.bookingSection h2 {
    margin: 3rem 0;
    font-size: 2.5rem;
}
.bookingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    background-color: rgba(0,140,129,.4);
    padding: 2rem 0;
    padding-top: 4rem;
    border-radius: .5rem;
}
.bookingForm label {
    width: 50%;
}
.bookingForm input, .bookingForm textarea {
    width: 100%;
    border: none;
    padding: 1rem 1rem;
}
/* --------------------Footer----------------- */
footer {
    display: flex;
    flex-direction: column;
    padding: 1rem 10rem;
}
.footerContent {
    display: flex;
    row-gap: 4rem;
    gap: 4rem;
    padding: 1rem;
    border-bottom: 1px solid var(--text);
}
.footerAbout, .footerContact {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: center;
}
.footerAbout {
    width: 33%;
}
.footerContact {
    margin-left: auto;
}
footer img {
    width: 50px;
}
footer i {
    color: var(--primary);
    margin-right: 1rem;
}
.footerDetails {
    padding: 1rem;
    display: flex;
}
.socials {
    margin-left: auto;
    font-size: 2rem;
}

/* --------------------Effects----------------- */
.btn:hover {
    background-color: white;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.15);
    color: var(--primary);
}
.worksBtn i {
    margin-left: 0px;
    transition: margin-left 2s;
}
.worksBtn:hover i {
    margin-left: 20px;
}